<div>
<form (ngSubmit)="submitForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}">

  <div class="field" [ngClass]="{'has-error': feedbackEnabled && cocktailField.errors}">
    <label>Cocktail</label>
    <input type="text" name="cocktail" [(ngModel)]="cocktail" #cocktailField="ngModel" required [disabled]="processing"/>
    <div *ngIf="feedbackEnabled && cocktailField.errors">
      <p *ngIf="cocktailField.errors.required" class="validation">Cocktail required</p>
    </div>
  </div>

  <div class="field" [ngClass]="{'has-error': feedbackEnabled && numberPersonField.errors}">
    <label>Number of person</label>
    <input type="number" name="numberPerson" [(ngModel)]="numberPerson" #numberPersonField="ngModel" required  [disabled]="processing"/>
    <div *ngIf="feedbackEnabled && numberPersonField.errors">
      <p *ngIf="numberPersonField.errors.required" class="validation">Number of persons required</p>
    </div>
  </div>

  <div class="field">
    <label>Intensity</label>
    <select>
      <option selected="selected" value="casual">casual</option>
      <option value="Lit">Lit</option>
      <option value="blackout">blackout</option>
    </select>
  </div>



  <div class="field submit">
    <button type="submit" [disabled]="processing">Search</button>
    <div *ngIf="feedbackEnabled && form.invalid">
      <p class="validation">there are errors in the form, please review the fields</p>
    </div>
  </div>
</form>
</div>